body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0fdf4;
  color: #1a3e2e;
}

nav {
  background-color: #10b981;
  padding-bottom: 2rem;
  padding: 1rem;
}

a{
    color: white;
    background-color: #059669;
    text-decoration: none;
    padding: 0.75em 1.5em 0.75em 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    font-weight: bold;
}

a:hover{
    background-color: #047857;
}

h1{
    text-align: center;
    background-color: #059669;
    color: white;
    padding: 1.5em;
    margin-bottom: 2em;
    font-size: 3em;
}

article{
    max-width: 900px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

section{
    background-color: #10b981;
    border-left: #047857 5px solid;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2em;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.1);
}

.szoveg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

h2{
    color: #065f46;
    margin-top: 0;
    font-size: 1.8rem;
    text-align: justify;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .szoveg{
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
    }

}
